<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Scheduling AOI
    </title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
      crossorigin="anonymous"
    />
    <link
      rel="canonical"
      href="https://letswrite.tw/google-map-api-distance-matrix/"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <style>
      body {
        font-family: "Noto Sans TC";
      }

      i {
        font-size: 1.3rem;
        cursor: pointer;
      }

      i:hover {
        font-weight: bold;
      }

      #map {
        background: #ccc;
      }

      #addToSchedule:hover {
        font-weight: bold;
      }

      .flip-list {
        transition: all 0.5s ease;
        cursor: grab;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <attrac-nav></attrac-nav>
      <div class="container px-1" style="margin-top: 30px;">
        <attraction-list></attraction-list>
      </div>
      <attrac-footer></attrac-footer>
    </div>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVE3uJnGBC-aSoc_OTsrjJo7cUZBez4uo"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

    <script>
      Vue.component("attraction-input", {
        template: `
              <div class="container py-5">
                <div class="row">
                  <div class="d-flex col-md-10 px-0">
                    <div class=" input-group p-0">
                      <input type="text" class="form-control" v-model="queryAttractionName" @keydown.enter='sendInputToAttractionList' placeholder="搜尋景點名稱">
                      <div class="input-group-append">
                        <span @click='sendInputToAttractionList' class="input-group-text rounded-right px-2" id="basic-addon2"><i class="fas fa-search" style="font-size:0.9rem;"></i></span>
                      </div>
                    </div>

                    <div class=" p-0">
                      <select @change="sendRegionSelectToAttractionList" class="align-top px-1 d-inline-block form-control form-control h-100" style="font-size:0.9rem;width:6rem;">
                       <option>地區</option>
                       <option value="新北市">新北市</option>
                       <option value="新竹縣">新竹縣</option>
                       <option value="苗栗縣">苗栗縣</option>
                       <option value="臺中市">臺中市</option>
                       <option value="彰化縣">彰化縣</option>
                       <option value="南投縣">南投縣</option>
                       <option value="雲林縣">雲林縣</option>
                       <option value="嘉義縣">嘉義縣</option>
                       <option value="臺南市">臺南市</option>
                       <option value="高雄市">高雄市</option>
                       <option value="屏東縣">屏東縣</option>
                       <option value="花蓮縣">花蓮縣</option>
                       <option value="臺東縣">臺東縣</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2 px-0">
                      <button @click="sendKeepAttracSearchToAttractionList" type="button" class="border align-top px-1 h-100 btn dblock w-100 btn-light" style="font-size:0.9rem; color:#bc2654"><i class="fas fa-heart" style="color:#bc2654; font-size:0.9rem;"></i> 我的收藏景點</button>
                  </div>
                </div>
              </div>
                                `,
        data() {
          return {
            queryAttractionName: "",
            inputValueForRegionSearch: "",
          };
        },
        methods: {
          sendInputToAttractionList(e) {
            this.$emit("abc", this.queryAttractionName);
            this.inputValueForRegionSearch = e.target.value;
          },
          sendKeepAttracSearchToAttractionList() {
            this.$emit("abc2");
          },
          sendRegionSelectToAttractionList(e) {
            this.$emit("abc3", e.target.value, this.queryAttractionName);
          },
        },
      });

      Vue.component("attraction-list", {
        template: `
                            <div>
                              <attrac-modal @jkl="addSelectedAttractionsToDirection" @def3="saveKeepAttrap" :label4="attracModal"></attrac-modal>

                              <attraction-input @abc="getSearchedAttractionsFromPHP" @abc2="getSearchedKeepAttractionsFromPHP" @abc3="getSearchedRegionAttractionsFromPHP"></attraction-input>

                              <cards class="d-block" style="height:16.5rem; overflow-x:scroll;white-space: nowrap;background-color:rgba(0,0,0,0.04);">
                                <attraction-item
                                @def="addSelectedAttractionsToDirection" @def2="addSelectedAttractionsToModal" @def3="saveKeepAttrap" v-for="searchedAttraction in searchedAttractions" v-bind:label="searchedAttraction"></attraction-item>
                              </cards>

                              <div class="container my-5" >
                                <div class="row" >
                                  <div class="border-top border-left border-bottom px-1 col-lg-4" style="background-color:rgba(0,0,0,0.04);">
                                    <div class="d-flex mt-3">
                                      <input v-model="toBeSavedSchedule.scheName" type="text" class="w-100 border-top-0 border-left-0 border-right-0 form-control  text-truncate text-center" placeholder="請輸入行程名稱" required="required" style="color:#bc2654">
                                      <i role="button" @click="saveSchedule" class="my-auto far fa-save mx-2 text-black-50 " style="cursor:pointer;"></i>
                                      <i @click="reloadWindow" class="my-auto fas fa-trash-alt mx-2 text-black-50 "></i>
                                    </div>


                                    <draggable v-model="selectedAttractions">
                                      <transition-group>

                                        <attraction-direction
                                        @ghi="removeSelectedAttraction" @sendAttracStartTimeToAttractionList="sendAttracStartTimeToBackend" @sendAttracLeaveTimeToAttractionList="sendAttracLeaveTimeToBackend"
                                        class="border bg-light flip-list"
                                        :key="selectedAttraction.Attrac_NO"
                                        v-for="selectedAttraction in selectedAttractions"
                                        v-bind:label2="selectedAttraction">
                                        </attraction-direction>

                                      </transition-group>
                                    </draggable>



                                  </div>
                                  <div class="border col-lg-8 px-0" style="height:500px">
                                    <div id="map" class="h-100"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                                    `,
        data() {
          return {
            searchedAttractions: [],
            selectedAttractions: [],
            MemNO: "",
            map: null,
            mapCenter: {
              lat: 23.7074865,
              lng: 121.0007688,
            },
            markers: [],
            toBeSavedSchedule: {
              MemNO: "",
              scheName: "",
              scheStatus: "",
              selectedAttractions: [],
              attracStartTime: [],
            },
            attracModal: {},
          };
        },
        methods: {
          initialAttraction() {
            $.get(`searchAttrac.php?searchedName=觀光工廠`).then((data) => {
              if (JSON.parse(data) == 0) {
                alert("查無此景點");
              } else {
                this.searchedAttractions = JSON.parse(data);
              }
            });
          },
          getSearchedAttractionsFromPHP(x) {
            $.get(`searchAttrac.php?searchedName=${x}`).then((data) => {
              if (JSON.parse(data) == 0) {
                alert("查無此景點");
              } else {
                this.searchedAttractions = JSON.parse(data);
              }
            });
          },
          getSearchedKeepAttractionsFromPHP() {
            // $.get("getMemberInfo.php").then((data) => {
            //   let memNOFromPHP = JSON.parse(data).Mem_NO;
            //   console.log(`memno:${memNOFromPHP}`);
            //   if (data == "{}") {
            //     alert("請先登入會員");
            //   } else {
            //     this.MemNO = memNOFromPHP;
            //     $.get(`searchKeepAttrac.php?MemNO=${this.MemNO}`).then(
            //       (data) => {
            //         if (JSON.parse(data) == 0) {
            //           alert("尚無收藏任何景點");
            //         } else {
            //           this.searchedAttractions = JSON.parse(data);
            //           console.log(this.searchedAttractions);
            //         }
            //       }
            //     );
            //   }
            // });

            //check if logged, if true, get and input MemNO:
            if (true) {
              this.MemNO = 1;
            }
            $.get(`searchKeepAttrac.php?MemNO=${this.MemNO}`).then((data) => {
              if (JSON.parse(data) == 0) {
                alert("尚無收藏任何景點");
              } else {
                this.searchedAttractions = JSON.parse(data);
              }
            });
          },
          getSearchedRegionAttractionsFromPHP(x, y) {
            if (y == "") {
              $.get(`searchAttracRegionWoInput.php?Region=${x}`).then(
                (data) => {
                  if (JSON.parse(data) == 0) {
                    alert("查無景點");
                  } else {
                    this.searchedAttractions = JSON.parse(data);
                    console.log(this.searchedAttractions);
                  }
                }
              );
            } else if (y != "") {
              $.get(
                `searchAttracRegionWInput.php?Region=${x}&searchedName=${y}`
              ).then((data) => {
                if (JSON.parse(data) == 0) {
                  alert("查無景點");
                } else {
                  this.searchedAttractions = JSON.parse(data);
                  console.log(this.searchedAttractions);
                }
              });
            }
          },
          addSelectedAttractionsToDirection(x) {
            this.selectedAttractions.push(x);
            let latLng = new google.maps.LatLng(x.Attrac_Latit, x.Attrac_Long);
            let marker = new google.maps.Marker({
              position: latLng,
              map: this.map,
              icon:
                "https://cdn0.iconfinder.com/data/icons/lumin-social-media-icons/512/Location-32.png",
            });
            // move map center to selected attraction:
            this.map.panTo(latLng);

            // add marker to markers:
            this.markers.push(marker);
            console.log(this.markers.length);

            // add infowindow:
            let contentString = `
                    <div>
                      <h6 style="font-size:0.8rem;margin-bottom:0.2rem">${x.Attrac_Name}</h6>
                      <hr style="margin:0.2rem auto;">
                      <h6 style="font-size:0.6rem;margin:0.2rem auto;">${x.Attrac_Addre}</h6>
                      <h6 style="font-size:0.6rem;margin:0.2rem auto;">${x.Attrac_Tel}</h6>

                    </div>
                    `;
            let infowindow = new google.maps.InfoWindow({
              content: contentString,
            });
            marker.addListener("click", function () {
              infowindow.open(map, marker);
            });
          },

          removeSelectedAttraction(x) {
            // remove closed mark:
            let n = this.selectedAttractions.indexOf(x);
            this.markers[n].setMap(null);
            this.markers.splice(this.selectedAttractions.indexOf(x), 1);

            // remove closed attraction:
            this.selectedAttractions.splice(
              this.selectedAttractions.indexOf(x),
              1
            );
          },
          saveSchedule() {
            // // check if logged, if true, get and input MemNO:
            // if (true) {
            //   this.toBeSavedSchedule.MemNO = 1;
            // }
            // // check if shceName and any attraction in direction:
            // if (this.toBeSavedSchedule.scheName == "") {
            //   alert("請輸入行程名稱");
            // } else if (this.selectedAttractions.length == 0) {
            //   alert("請輸入至少一個景點");
            // } else {
            //   //input scheStatus:
            //   confirm("已完成行程編輯？")
            //     ? (this.toBeSavedSchedule.scheStatus = 1)
            //     : (this.toBeSavedSchedule.scheStatus = 0);
            //   alert(this.toBeSavedSchedule.scheStatus);
            //   // input selectedAttractions:
            //   this.toBeSavedSchedule.selectedAttractions = this.selectedAttractions;
            //   // console.log(this.toBeSavedSchedule.selectedAttractions);
            //   $.ajax({
            //     method: "POST",
            //     url: "saveSchedule.php",
            //     data: this.toBeSavedSchedule,
            //     dataType: "json",
            //   });
            // }

            // /////////////////////////////////////////////////////////////
            // check if logged, if true, get and input MemNO:
            // $.get("getMemberInfo.php").then((data) => {
            // let memNOFromPHP = JSON.parse(data).Mem_NO;
            // console.log(`memno:${memNOFromPHP}`);
            // if (data == "{}") {
            //   alert("請先登入會員");
            // } else {
            // this.toBeSavedSchedule.MemNO = memNOFromPHP;
            this.toBeSavedSchedule.MemNO = 1;
            // check if shceName and any attraction in direction:
            if (this.toBeSavedSchedule.scheName == "") {
              alert("請輸入行程名稱");
            } else if (this.selectedAttractions.length == 0) {
              alert("請輸入至少一個景點");
            } else {
              //input scheStatus:
              confirm("已完成行程編輯？")
                ? (this.toBeSavedSchedule.scheStatus = 1)
                : (this.toBeSavedSchedule.scheStatus = 0);
              // alert(this.toBeSavedSchedule.scheStatus);
              // input selectedAttractions:
              this.toBeSavedSchedule.selectedAttractions = this.selectedAttractions;
              // console.log(this.toBeSavedSchedule.selectedAttractions);
              $.ajax({
                method: "POST",
                url: "saveSchedule.php",
                data: this.toBeSavedSchedule,
                dataType: "json",
              });
            }
            // }
            // });
          },
          sendAttracStartTimeToBackend(x, y) {
            let n = this.selectedAttractions.indexOf(x);
            this.selectedAttractions[n].attracStartTime = y;
            // console.log(this.selectedAttractions);
          },
          sendAttracLeaveTimeToBackend(x, y) {
            let n = this.selectedAttractions.indexOf(x);
            this.selectedAttractions[n].attracLeaveTime = y;
            // console.log(this.selectedAttractions);
          },
          addSelectedAttractionsToModal(x) {
            this.attracModal = x;
            // console.log(this.attracModal);
          },
          saveKeepAttrap(x) {
            // check if logged, if true, get and input MemNO:
            // $.get("getMemberInfo.php").then((data) => {
            //   let memNOFromPHP = JSON.parse(data).Mem_NO;
            //   console.log(memNOFromPHP);
            //   if (data == "{}") {
            //     alert("請先登入會員");
            //   } else {
            this.MemNO = 1;
            // console.log(this.MemNO);
            let n = this.searchedAttractions.indexOf(x);
            $.get(
              `checkClickedKeepAttrac.php?KeepMemNO=${this.MemNO}&KeepAttracNO=${this.searchedAttractions[n].Attrac_NO}`
            ).then((data) => {
              if (JSON.parse(data) == 0) {
                $.ajax({
                  method: "POST",
                  url: "saveClickedKeepAttrac.php",
                  data: {
                    saveKeepMemNO: `${this.MemNO}`,
                    saveKeepAttracNO: `${this.searchedAttractions[n].Attrac_NO}`,
                  },
                  dataType: "json",
                });
              } else {
                alert("已收藏過此景點");
              }
            });
            // }
            // });

            // if keep is not existed then save it, if keep is existed then alert :
            // check if keep is existed:

            // let n = this.searchedAttractions.indexOf(x);
            // $.get(
            //     `checkClickedKeepAttrac.php?KeepMemNO=${this.MemNO}&KeepAttracNO=${this.searchedAttractions[n].Attrac_NO}`
            // ).then((data) => {
            //     if (JSON.parse(data) == 0) {
            //         $.ajax({
            //             method: "POST",
            //             url: "saveClickedKeepAttrac.php",
            //             data: {
            //                 saveKeepMemNO: `${this.MemNO}`,
            //                 saveKeepAttracNO: `${this.searchedAttractions[n].Attrac_NO}`,
            //             },
            //             dataType: "json",
            //         });
            //     } else {
            //         alert("已收藏過此景點");
            //     }
            // });
          },
          reloadWindow() {
            location.reload();
          },
        },
        mounted() {
          this.initialAttraction();
          this.map = new google.maps.Map(document.getElementById("map"), {
            center: this.mapCenter,
            zoom: 7.6,
          });
        },
      });

      Vue.component("attraction-item", {
        template: `
                          <card @click="sendSelectedAttractionToAttractionList2" class="card align-top m-2 p-2 d-inline-block shadow-sm" data-toggle="modal" data-target="#attracModal" style="width: 11rem;height:14rem;cursor:pointer;">
                            <div class="position-relative cardImg overflow-hidden" style="height:11.5rem">
                              <h5 class="position-absolute text-light" style="top:0px;left:0px;">景點</h5>
                              <img :src='this.label.Attrac_PicURL' class="d-block h-100 mx-auto"/>
                              <div class="position-absolute w-100 px-1" style="bottom:0px;background-color:rgba(0,0,0,0.4);">
                                <h6 class=" text-light text-truncate mb-0 mt-1" style="font-size:0.9rem;">{{label.Attrac_Name}}</h6>
                                <p class=" text-light text-truncate mb-1" style="font-size:0.7rem">{{label.Attrac_Region}}</p>
                              </div>
                            </div>
                            <div class="container py-0">
                              <div class="row justify-content-between">
                                <p @click.stop="sendSelectedAttractionToAttractionList" id="addToSchedule" class=" p-1 m-0" style="color:#bc2654; font-size:0.8rem;cursor:pointer;">+ 加入行程</p>
                                <i :class="alreadyKeep" @click.stop="sendSelectedAttractionToAttractionList3" class="p-1 pt-2 m-0 mr-2 far fa-heart" style="color:#bc2654; font-size:0.8rem;cursor:pointer;"></i>
                              </div>
                            </div>
                          </card>
                                  `,
        props: ["label"],
        methods: {
          sendSelectedAttractionToAttractionList() {
            this.$emit("def", this.label);
          },
          sendSelectedAttractionToAttractionList2() {
            this.$emit("def2", this.label);
          },
          sendSelectedAttractionToAttractionList3(e) {
            this.$emit("def3", this.label);

            // $.get("getMemberInfo.php").then((data) => {
            //   if (data != "{}") {
            e.target.classList.add("fas");
            // }
            // });
          },
        },
        computed: {
          alreadyKeep() {
            ////////////////////////////////////////////
            if (this.label.Keep_Attrac_NO != null) {
              return "fas";
            }
          },
        },
      });

      Vue.component("attraction-direction", {
        data() {
          return {
            attracStartTime: "",
            attracLeaveTime: "",
          };
        },
        props: ["label2"],
        template: `
                          <div class="container my-3 py-3 pr-0 rounded shadow">
                            <button @click="sendClosedAttractionToAttractionList" type="button"  class="close"   aria-label="Close" style="margin-top:-10px;margin-right:3px;">
                              <span class="p-2" aria-hidden="true" style="font-size:1rem">&times;</span>
                            </button>
                            <div class="row">
                              <div class="left px-0 overflow-hidden col-4" style="height:100px">
                                <img :src="this.label2.Attrac_PicURL" class="d-block h-100 mx-auto">
                              </div>
                              <div class="right col-8 pr-0 pl-1 position-relative">
                                <h6 class="">{{label2.Attrac_Name}}</h6>
                                <div class=" position-absolute" style="bottom:0px;cursor:pointer;color:#bc2654" >

                                  <label class=" my-0" style="font-size:0.7rem;">抵達：</label><input type="time" v-model="attracStartTime" @change="sendAttracStartTimeToAttractionList" class=" border-0" style="font-size:0.7rem;cursor:pointer;">
                                  <br>
                                  <label class=" my-0" style="font-size:0.7rem;">離開：</label><input type="time" v-model="attracLeaveTime" @change="sendAttracLeaveTimeToAttractionList" class=" border-0" style="font-size:0.7rem;cursor:pointer;">
                                </div>
                              </div>
                            </div>
                          </div>
                          `,
        methods: {
          sendClosedAttractionToAttractionList() {
            this.$emit("ghi", this.label2);
          },
          sendAttracStartTimeToAttractionList() {
            this.$emit(
              "sendAttracStartTimeToAttractionList",
              this.label2,
              this.attracStartTime
            );
            // alert(`${this.attracStartTime}`);
          },
          sendAttracLeaveTimeToAttractionList() {
            this.$emit(
              "sendAttracLeaveTimeToAttractionList",
              this.label2,
              this.attracLeaveTime
            );
            // alert(`${this.attracStartTime}`);
          },
        },
      });

      Vue.component("attrac-modal", {
        props: ["label4"],
        template: `
                    <div class="modal fade" id="attracModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{label4.Attrac_Name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="w-100 overflow-hidden" style="height:20rem">
                              <img :src="this.label4.Attrac_PicURL" class="d-block h-100 mx-auto">
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item px-1" style="font-size:0.9rem">
                                <h6>地址：</h6>
                                {{label4.Attrac_Addre}}
                                </li>
                              <li class="list-group-item px-1" style="font-size:0.9rem">
                                <h6>電話：</h6>
                                {{label4.Attrac_Tel}}
                                </li>
                              <li class="list-group-item px-1" style="font-size:0.9rem">
                                <h6>開放時間：</h6>
                                {{label4.Attrac_Open}}
                              </li>
                              <li class="list-group-item px-1" style="font-size:0.9rem">
                                <h6>景點描述：</h6>
                                {{label4.Attrac_Desc}}
                                </li>
                            </ul>
                          </div>
                          <div class="modal-footer">
                            <div class="container py-0">
                              <div class="row justify-content-between">
                                <p @click.stop="sendSelectedAttractionToAttractionList" id="addToSchedule" class=" p-1 m-0" style="color:#bc2654; font-size:1rem;cursor:pointer;">+ 加入行程</p>
                                <!--<i @click.stop="sendSelectedAttractionToAttractionList3" class="p-1 pt-2 m-0 far fa-heart" style="color:#bc2654; font-size:1rem;cursor:pointer;"></i>-->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    `,
        methods: {
          sendSelectedAttractionToAttractionList() {
            this.$emit("jkl", this.label4);
          },
          sendSelectedAttractionToAttractionList3(e) {
            alert("xx");
            this.$emit("def3", this.label4);
            e.target.classList.add("fas");
          },
        },
      });

      new Vue({
        el: "#app",
      });
    </script>
  </body>
</html>
